#sidebar {
  grid-area: sidebar;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--bg-primary);
  width: 100%;

  transition: width 200ms ease;
  z-index: 2;
}

@media only screen and (min-width: 1000px) {
  #sidebar:hover {
    width: 16rem;
  }
}

#sidebar:hover .link-text {
  display: block;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;

  color: var(--text-primary);
  transition: var(--transition-speed);
}

.nav-item:hover {
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  margin-left: 1rem;
  display: none;
  transition: var(--transition-speed);
}

.icons {
  width: 1.3rem;
  height: 1.3rem;
  transition: var(--transition-speed);
  color: var(--text-primary);
}

.link-text:hover, .icons:hover {
  color: var(--hover-color);
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  #sidebar {
    flex-direction: row;
  }

  .nav-item:last-child {
    margin-top: 0;
  }
}