#footer {
    grid-area: footer;

    background-color: var(--bg-primary);

    display: flex;
    align-items: center;

    padding: 0 2rem;
}

#socials {
    display: flex;
    align-items: center;
    margin-left: auto;
}

#socials > * {
    margin: 0 0.5rem;
}

#my-name {
    color: gold;
}